ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="09c0", RUN+="switch_tablet_mode.sh 0"
ACTION=="remove", SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="09c0", RUN+="switch_tablet_mode.sh 1"
