ACTION=="add", ATTR{name}=="cros-ec-accel", RUN+="/lib/udev/accelerometer-init.sh %k"
ACTION!="remove", ATTR{name}=="cros-ec-accel", SYMLINK+="cros-ec-accel/%n", MODE="640", GROUP="chronos"
